<launch>
  
   <arg name = "frequency" default = "20" />
   <arg name = "rosbagFlag" default = "false" />

   <node
	pkg = "beginner_tutorials"
        name = "talker"
	type = "talker"
	output = "screen"
	args = "$(arg frequency)"
    />

   <node
	pkg = "beginner_tutorials"
        name = "listener"
	type = "listener"
	output = "screen"
	launch-prefix = "xterm -e"
    />

    <node
	pkg="rosbag"
	name="record"
	type="record"
	args="-a -O rostopicsRecord.bag"
	if="$(arg rosbagFlag)"
    />
    
</launch>
